[submodule "home/.local/bin/4chan-pywal"]
	path = home/.local/bin/4chan-pywal
	url = git@github.com:NecRaul/4chan-pywal.git
	branch = main
[submodule "home/.local/bin/kuroneko-themes"]
	path = home/.local/bin/kuroneko-themes
	url = git@github.com:NecRaul/kuroneko-themes.git
	branch = main
[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
	branch = master
[submodule "home/.config/tmux/plugins/tmux-power"]
	path = home/.config/tmux/plugins/tmux-power
	url = git@github.com:wfxr/tmux-power.git
	branch = master
[submodule "home/.local/bin/zathura-pywal"]
	path = home/.local/bin/zathura-pywal
	url = git@github.com:matthewlscarlson/zathura-pywal.git
	branch = master
